{
  "validUsername": "Usuario",
  "validPassword": "Contraseña",
  "invalidUsername": "Usuario_No_Existente",
  "invalidPassword": "Contraseña_No_Existente",
  "sauceUser": "Usuario_Sauce",
  "saucePassword": "Constraseña_Sause"
}